{
    "plugins": ["mocha"],
    "extends": ["plugin:mocha/recommended"],
    "rules": {
        "func-names": ["warn", "never"],
    },
    "env": {
        "mocha": true
    },
    "globals": {
        "_": true
    }
}
